<div class="card text-center">
    <div class="card-body">
        <img style="width:100px; height:100px" class="card-img-top" src="{{product.image}}" alt="Card image cap">
  
        <a [routerLink]="['/product-details' , product.id]">
            <h5 class="card-title">{{product.title}}</h5>
        </a>
        <p class="card-text text-center">category: {{product.category}}</p>
        <p class="card-text text-center">Price:  {{product.price| currency:'EGP'}}</p>
        <p class="card-text text-center" [style.color]="product.rating.rate>2?'green':'red'" >{{product.rating.rate|count}}</p>
        <button class="btn btn-primary" (click)="goToDetails(product.id)">
            Add to cart</button>
    </div>
  </div>
  
  
  <!-- (click)="emitProductName()" -->'
