<h2>Login | Template Form</h2>

<form #loginForm="ngForm" (ngSubmit)="handleSubmitForm(loginForm)">

  <div class="mb-3">
    <label for="email" class="form-label">email</label>
    <input
      type="text"
      class="form-control"
      id="email"
      aria-describedby="emailHelp"
      ngModel
      #email="ngModel"
      name="email"
      required
    
      pattern='^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$'
    />
    <div
      id="emailHelp"
      *ngIf="email.touched && email.invalid"
      class="form-text text-danger"
    >
      <small *ngIf="email?.errors?.['required']"
        >This field is required</small
      >
    
      <small *ngIf="email?.errors?.['pattern']"
        >Please enter a valid email</small
      >
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label"> password</label>
    <input
      type="text"
      class="form-control"
      id=" password"
      aria-describedby=" passwordHelp"
      ngModel
      #password="ngModel"
      name="password"
      required
      minlength="8"
      pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
    />
    <div
      id="passwordHelp"
      *ngIf=" password.touched &&  password.invalid"
      class="form-text text-danger"
    >
      <small *ngIf="password?.errors?.['required']"
        >This field is required</small
      >
      <small *ngIf="password?.errors?.['minlength']"
        >Min length is 8 characters</small
      >
      <small *ngIf="password?.errors?.['pattern']"
        >Please enter a valid password "Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters</small
      >
    </div>
  </div>

  <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" [routerLink]="['']"  >Submit</button>
</form>

<div class="text-center">
    <p>Dont have account? <a [routerLink]="['/register']">Register</a></p> </div>
   
